<header class="site-header" role="banner">
  <a class="title" href="/"><strong>{{ site.title }}</strong></a>
  <a class="logo" href="/">
    <img src="/assets/avatar.png" class="avatar" alt="{{ site.title }}">
  </a>
  <nav class="site-nav">
    {% if site.language == 'zh-CN' %}
      <a class="sidebar-nav-item" href="/archive">归档</a>
      <a class="sidebar-nav-item" href="/about">关于</a>
    {% else %}
      <a class="sidebar-nav-item" href="/archive">Archive</a>
      <a class="sidebar-nav-item" href="/about">About</a>
    {% endif %}
  </nav>
</header>
